_minted-thesis
.DS_Store
*~
*.dvi
*.log
*.bak
*.aux
*.toc
*.ps
*.eps
*.blg
*.bbl
*.glg
*.glo
*.gls
*.idx
*.ild
*.ind
*.ist
*.ilg
*.iso
*.out
*.acn
*.acr
*.alg
*.xdy
*.vrb
*.pstex
*.pstex_t
*.run.xml
*.bbl
*.nav
*.snm
*.glsdefs
*.bcf
*.lof
*.lot
_minted-*
venv

# converted logo
u-tad-eps-converted-to.pdf

._.DS_Store
._thesis.pdf
figures/.*
._thesis.tex
._presentation.pdf
